<!-- <div class="col-12">
    <a href="https://www.linkedin.com/in/dbasco4/" target="_blank"><img src="../../../assets/linkedin.png" id="linkedinlogo" alt=""></a>
    <a href="https://github.com/DanytoHS" target="_blank"><img src="../../../assets/github.png" id="githublogo" alt=""></a>
    <a href="https://www.facebook.com/danytob/" target="_blank"><img src="../../../assets/facebook.png" id="facebooklogo" alt=""></a>
    <a href="https://www.instagram.com/dany.hsb/" target="_blank"><img src="../../../assets/instagram.png" id="instagramlogo" alt=""></a>
</div>
<button type="button" class="btn-login btn-outline-light">LOGIN</button>
 -->