/* img{
    width: 100%;
    height: 600px;
} */

.row{
    background-image: url(../../../assets/banner.gif);
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 600px;
}