<div class="row">
    <h1 class="titulo" style="text-align: center;">Hard Skills</h1><br><br>
            <div class="col-sm-12 col-md-3 col-lg-2">
            <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../assets/html.png'"
        [backgroundColor]="'rgb(159, 159, 161, 0.4)'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#00E3FC'"
        [innerStrokeColor]="'#DF3BAA'"
        [animation]="true"
        [animationDuration]="1500"
        ></circle-progress>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2">
                <circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]="'../assets/CSS.png'"
            [backgroundColor]="'rgb(159, 159, 161, 0.4)'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#00E3FC'"
            [innerStrokeColor]="'#DF3BAA'"
            [animation]="true"
            [animationDuration]="1500"
            ></circle-progress>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2">
                    <circle-progress
                [percent]="60"
                [radius]="100"
                [imageSrc]="'../assets/js.png'"
                [backgroundColor]="'rgb(159, 159, 161, 0.4)'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="60"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#00E3FC'"
                [innerStrokeColor]="'#DF3BAA'"
                [animation]="true"
                [animationDuration]="1500"
                ></circle-progress>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2">
                    <circle-progress
                [percent]="60"
                [radius]="100"
                [imageSrc]="'../assets/php.png'"
                [backgroundColor]="'rgb(159, 159, 161, 0.4)'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="110"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#00E3FC'"
                [innerStrokeColor]="'#DF3BAA'"
                [animation]="true"
                [animationDuration]="1500"
                ></circle-progress>
            </div>
            <div class="col-md-2 col-lg-2">
                <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../assets/mysql.png'"
            [backgroundColor]="'rgb(159, 159, 161, 0.4)'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="140"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#00E3FC'"
            [innerStrokeColor]="'#DF3BAA'"
            [animation]="true"
            [animationDuration]="1500"
            ></circle-progress>
            </div>
            <div class="col-md-2 col-lg-2">
                <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../assets/sql.png'"
            [backgroundColor]="'rgb(159, 159, 161, 0.4)'"
            [showImage]="true"
            [imageHeight]="110"
            [imageWidth]="140"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#00E3FC'"
            [innerStrokeColor]="'#DF3BAA'"
            [animation]="true"
            [animationDuration]="1500"
            ></circle-progress>
            </div>
            <div class="col-md-2 col-lg-2">
                <circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]="'../assets/GitHub2.png'"
            [backgroundColor]="'rgb(159, 159, 161, 0.4)'"
            [showImage]="true"
            [imageHeight]="110"
            [imageWidth]="110"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#00E3FC'"
            [innerStrokeColor]="'#DF3BAA'"
            [animation]="true"
            [animationDuration]="1500"
            ></circle-progress>
            </div>
            
    <h1 class="titulo" style="text-align: center;">Learning...</h1><br><br>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <circle-progress
        [percent]="50"
        [radius]="100"
        [imageSrc]="'../assets/angular.png'"
        [backgroundColor]="'rgb(159, 159, 161, 0.4)'"
        [showImage]="true"
        [imageHeight]="110"
        [imageWidth]="150"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#00E3FC'"
        [innerStrokeColor]="'#DF3BAA'"
        [animation]="true"
        [animationDuration]="1500"
        ></circle-progress>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
                    <circle-progress
                [percent]="30"
                [radius]="100"
                [imageSrc]="'../assets/firebase.png'"
                [backgroundColor]="'rgb(159, 159, 161, 0.4)'"
                [showImage]="true"
                [imageHeight]="120"
                [imageWidth]="120"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#00E3FC'"
                [innerStrokeColor]="'#DF3BAA'"
                [animation]="true"
                [animationDuration]="1500"
                ></circle-progress>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
                <circle-progress
            [percent]="20"
            [radius]="100"
            [imageSrc]="'../assets/python.png'"
            [backgroundColor]="'rgb(159, 159, 161, 0.4)'"
            [showImage]="true"
            [imageHeight]="110"
            [imageWidth]="110"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#00E3FC'"
            [innerStrokeColor]="'#DF3BAA'"
            [animation]="true"
            [animationDuration]="1500"
            ></circle-progress>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <circle-progress
        [percent]="40"
        [radius]="100"
        [imageSrc]="'../assets/pbi.png'"
        [backgroundColor]="'rgb(159, 159, 161, 0.4)'"
        [showImage]="true"
        [imageHeight]="110"
        [imageWidth]="160"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#00E3FC'"
        [innerStrokeColor]="'#DF3BAA'"
        [animation]="true"
        [animationDuration]="1500"
        ></circle-progress>
        </div>

    <h1 class="titulo"style="text-align: center;" >Soft Skills</h1><br><br>
    <div class="col-sm-2 col-md-2 col-lg-2 mt-3">
        <circle-progress
    [percent]="90"
    [radius]="100"
    [title]="'Inglés'"
    [backgroundColor]="'rgb(159, 159, 161, 0.4)'"
    titleFontSize="30"
    titleColor="white"
    titleFontWeight="bold"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#00E3FC'"
    [innerStrokeColor]="'#DF3BAA'"
    [animation]="true"
    [animationDuration]="1500"
    ></circle-progress>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 mt-3">
        <circle-progress
    [percent]="100"
    [radius]="100"
    [title]="'Empático'"
    [backgroundColor]="'rgb(159, 159, 161, 0.4)'"
    titleFontSize="30"
    titleColor="white"
    titleFontWeight="bold"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#00E3FC'"
    [innerStrokeColor]="'#DF3BAA'"
    [animation]="true"
    [animationDuration]="1500"
    ></circle-progress>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 mt-3">
        <circle-progress
    [percent]="100"
    [radius]="100"
    [title]="'Proactivo'"
    [backgroundColor]="'rgb(159, 159, 161, 0.4)'"
    titleFontSize="30"
    titleColor="white"
    titleFontWeight="bold"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#00E3FC'"
    [innerStrokeColor]="'#DF3BAA'"
    [animation]="true"
    [animationDuration]="1500"
    ></circle-progress>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 mt-3">
        <circle-progress
    [percent]="100"
    [radius]="100"
    [title]="'Teamwork'"
    [backgroundColor]="'rgb(159, 159, 161, 0.4)'"
    titleFontSize="30"
    titleColor="white"
    titleFontWeight="bold"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#00E3FC'"
    [innerStrokeColor]="'#DF3BAA'"
    [animation]="true"
    [animationDuration]="1500"
    ></circle-progress>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 mt-3">
        <circle-progress
    [percent]="100"
    [radius]="100"
    [title]="'Coaching'"
    [backgroundColor]="'rgb(159, 159, 161, 0.4)'"
    titleFontSize="30"
    titleColor="white"
    titleFontWeight="bold"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#00E3FC'"
    [innerStrokeColor]="'#DF3BAA'"
    [animation]="true"
    [animationDuration]="1500"
    ></circle-progress>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 mt-3">
        <circle-progress
    [percent]="100"
    [radius]="100"
    [title]="'Detallista'"
    [backgroundColor]="'rgb(159, 159, 161, 0.4)'"
    titleFontSize="30"
    titleColor="white"
    titleFontWeight="bold"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#00E3FC'"
    [innerStrokeColor]="'#DF3BAA'"
    [animation]="true"
    [animationDuration]="1500"
    ></circle-progress>
    </div>
                
</div>
