<div class="row">
    <div class="container-gnc">
        <h1 class="proyectos "style="text-align: center;">Proyectos</h1>
            <div class="proyecto-gnc col-sm-12">
                <h1>GNC BellVille - Ficha Tecnica</h1>
                <p>Se realizó una Ficha técnica especifica para una GNC de mi localidad, la cual utiliza un CRUD de Angular + Firebase(Firestore + Hosting)</p>
            </div>
    </div>
        <div class="proyecto-ap col-sm-12">
            <h1>#argentinaPrograma - Portfolio</h1>
            <p>Mi primer Portafolio y "Curriculum Vitae" el cual voy a estar actualizando y estilizando siempre!</p>
        </div>
</div>