<div class="row">
    <div id="imagen-selfie">
        <img src="../../../assets/foto-danilo2png.png" id="selfie" class="img-fluid d-block mx-auto" >
    </div>
</div>
<div class="row">
    <div class="col-4"id="about">
        <h1>DANILO BASCOURLEGUY</h1>
        <h4>Full Stack Developer JR;</h4>
        <h4>Game Developer;</h4>
        <h4>Graphic Design;</h4>
        <br>
    </div>
    <div class="col-4">
        <h1>¡Hola! :)</h1>
        <h2>Bienvenidos a mi Portafolio!</h2>
        <br>
        <p>Soy un Programador Junior, recibido con el titulo de Software Designer y Game Development.</p>
        <p>Mi Pasión por la Programación, las Computadoras y los Videojuegos me han traído hasta aquí...</p>
        <p>Hasta el mundo del Desarrollo WEB, por eso, me gustaría hablarte un poco de mis conocimientos!.</p>
    </div> 
    <div class="col-4">
        <h1>¡Hi! :)</h1>
        <h2>Welcome to my Portfolio!</h2>
        <br>
        <p>I'm a Junior Programmer, Graduated with a Software Designer title and Game Development</p>
        <p>My Passion for Programming, Computers and Videogames has brought me here...</p>
        <p>The WEB Design World! That's why, i would like to talk you about my knowledge a little bit more!.</p></div>
</div>

