 #imagen-selfie {
    display: block !important;
    width: 300px !important;
    z-index: 1;

  }

  img{
    border-radius: 50% !important;
    margin-top: -200px !important;
    margin-left: 50px !important;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
  }
  h1{
    margin-top: 20px;
    margin-left: 5%;
    color: rgb(66, 186, 255);
  }
  h2{
    margin-top: 20px;
    margin-left: 5%;
    color: rgb(72, 249, 255);
  }
  h4{
    margin-left: 5%;
    color: rgb(255, 255, 255);
  }
  p{
    margin-left: 5%;
    color: #FDCDF9;
  }
  