        <div class="row">
            <div id="imagen-selfie">
                <img src="../../../assets/foto-danilo2png.png" id="selfie" class="img-fluid d-block mx-auto" >
            </div>
            <div class="col-sm-12 col-xl-4"id="about">
                <h1>DANILO BASCOURLEGUY</h1>
                <h4>Full Stack Developer JR;</h4>
                <h4>Game Developer;</h4>
                <h4>Graphic Design;</h4>
                <br>
            </div>
            <div class="col-sm-12 col-xl-4">
                <h1>¡Hola! :)</h1>
                <h2>Bienvenidos a mi Portafolio!</h2>
                <br>
                <p>Soy un Programador Junior, recibido con el titulo de Software Designer y Game Development.</p>
                <p>Mi Pasión por la Programación, las Computadoras y los Videojuegos me han traído hasta aquí... hasta el mundo del Desarrollo WEB, por eso, me gustaría hablarte un poco de mis conocimientos!.</p>
                <br><br>
            </div> 

