<div class="row">
    <div class="">
        <h2>Experiencias!</h2>
        <p>Atila</p><br>
            <div class="col-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, alias dolores. Harum temporibus quae excepturi nisi odit, nulla sit voluptas modi iusto provident iure non quod dolore? Laborum, recusandae deserunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sint, commodi iste corrupti quia voluptatum porro, sed culpa aliquam quidem minima asperiores. Labore officia nam sint odit enim aut veniam.</p>
            </div>
    </div>
</div>
