        <h2 class="experiencias">Experiencias!</h2>
            <div class="col-sm-12 col-xl-8 mt-3 mt-4">
                <ul>
                <li><h2>Atila Software </h2></li>
                <h3>Duracion: Nov. 2018 - nov. 2022 · 4 años 1 mes</h3>
                <h4>(Primer Trabajo)</h4><br>
                    <p>Mi primer trabajo, comenzó aprendiendo por mi cuenta el sistema de gestion contable, pasé a solucionar problemas de los clientes, aclarar sus dudas y corregir errores del sistema vía Call o TeamViewer.
                        Mi trabajo consistía desde armar servidores, implementación del sistema, capacitación a clientes sobre el correcto uso del mismo, consultoría de contabilidad y gestión de stock, levantar servicios/páginas web, instalación de certificados SSL, generación de copias de seguridad automatizado a cloud services, analisis de datos (brindar información de registros, actualización y hasta migración si era necesario), atención pública y relevamientos de sistemas.
                    </p>
                    <h2>Aptitudes Ganadas:</h2>
                    <p>Soporte técnico · Servicio de atención al cliente ·Trabajo en equipo · Internet Information Services (IIS) · Contabilidad ·  AFIP · Servicio de soporte técnico · ASP.NET · Diseño gráfico · Análisis de datos · Microsoft Power BI · QlikView · Procedimientos de almacenado · SQL ·  Microsoft Office</p>
                </ul><br><br><br><br>

                <ul>
                     <li><h2>PROMOTIVE - LATAM AUTO DATA SOLUTIONS</h2></li>
                <h3>Duracion: Nov. 2022 - ACTUALIDAD</h3>
                <h4>(Trabajo Actual)</h4><br>
                    <p>Mi primer trabajo como Programador! luego de 4 años sin programar, decidí salir de la comodidad para enfrentar nuevos desafiós y retomar estudios, ya con una buena experiencia en base de datos, me enfrenté al mundo de la programación web, buscando progresar y aprender cada día un poco más!.</p>
                    <h2>Aptitudes Ganadas:</h2>
                    <p>Angular CLI · Firebase · PHP · MySQL · Hojas de estilos en cascada (CSS) · JavaScript · HTML5</p><br><br><br>
                </ul>   
            </div>
